.note, .question {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
}

.note {
  border: 1pt solid #0d4a7b;
  background-color: #f0f7fd;
}

.question {
  border: 1pt solid #1f7b0d;
  background-color: #f1fdf0;
}

#footer {
  margin-top: 50px;
}

h2, h3 {
  margin-top: 0px;
}

img {
  width: 75% !important;
  margin: 20px 0px;
}

.figure p {
  display: none;
}
